<h2>PetPlay: <%= @petplay.title %></h2>
<h3>Created By: <%= @petplay.user.name %></h3>
<p>Location: <%= @petplay.location %></p>
<p>
  Attending: <% if @petplay.pet_players %>
               <%= list_pet_players(@petplay.pet_players).join(", ")%>
             <% else %>
               None
             <% end %>
</p>