<h2>PetPlay: <%= @pet_play.title %></h2>
<h3>Created By: <%= @pet_play.user.name %></h3>
<p>Location: <%= @pet_play.location %></p>
<p>Attending: <%= list_pet_players(@pet_play.pet_players).join(", ")%></p> 