<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Get Started Quickly</h1>
    <%= button_to "Login With Google", '/auth/google_oauth2', method: :get, class: 'pure-button button-xxlarge button-warning' %>
  </div>
</div>
